.container {
    position: relative;
    margin: 0 auto 0;
    width: 1200px;
    min-height: 100vh;
  }

router-outlet{
    flex: 1;
}

.main{
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #ce8aca;
  border-radius: 5px ;
  min-height: 100vh;
}
.main router-outlet{
  height: 100%;
  width: 100%;
}


